# Advent of Code Day 1
https://adventofcode.com/2021/day/1

In [40]:
import os
import pandas as pd

In [41]:
data_directory: str  = 'data/day_1'

## Part 1
Count the number of times the depth increases from the previous measurement, ignoring the first measurement.

In [42]:
input_file = os.path.join(data_directory, 'input.txt', )
df = pd.read_csv(input_file, header=None, names=['depths'])
df.describe()

            depths
count  2000.000000
mean   4411.882000
std    2444.151196
min     149.000000
25%    2351.750000
50%    4260.000000
75%    6497.000000
max    8895.000000

In [43]:
df['increasing'] = df.depths > df.depths.shift(1)
df[df.increasing].increasing.count()

1616

## Part 2
We measure a *forward* rolling sum of 3 rows, and again measure the increases.

In [44]:
df['rolling_sum'] = df.depths + df.depths.shift(-1) + df.depths.shift(-2)

# we must manually compute the last two rows to avoid NANs.
df.loc[len(df.index)-1, 'rolling_sum'] = df.loc[len(df.index)-1, 'depths']
df.loc[len(df.index)-2, 'rolling_sum'] = df.loc[len(df.index)-2, 'depths'] + df.loc[len(df.index)-1, 'depths']
df.describe()

            depths   rolling_sum
count  2000.000000   2000.000000
mean   4411.882000  13235.415500
std    2444.151196   7322.031361
min     149.000000    477.000000
25%    2351.750000   7077.250000
50%    4260.000000  12788.500000
75%    6497.000000  19486.500000
max    8895.000000  26682.000000

In [45]:
# now we count the increasing measurements.
df['increasing_rolling'] = df.rolling_sum > df.rolling_sum.shift(1)
df[df.increasing_rolling].increasing_rolling.count()

1645